:root {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #202225;
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgb(79, 84, 92);
    --background-modifier-active: rgba(79, 84, 92, 0.24);
    --background-modifier-selected: rgba(79, 84, 92, 0.32);
    --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
    --background-message-hover: rgba(4, 4, 5, 0.07);
    --logo-primary: #fff;
    --focus-primary: #00b0f4;
    --focus-secondary: #43b581;
    --channel-textarea-background: #40444b;
    --activity-card-background: #202225;
    --user-online: rgb(67, 181, 129);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#main {
    background-color: var(--light-background);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 72px 240px auto 240px;
    grid-template-rows: 48px auto 54px;
    grid-template-areas: "side server header header" "side chanel chat contact" "side user chat contact";
}

#side {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: side;
    overflow-y: scroll;
    background-color: var(--background-tertiary);
}

#side::-webkit-scrollbar {
    width: 0px;
}

#server {
    grid-area: server;
    background-color: var(--background-secondary);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    transition: all .2s;
    border-bottom: 2px solid var(--background-message-hover);
}

#server:hover {
    background-color: var(--background-modifier-hover);
}

#header {
    grid-area: header;
    background-color: var(--background-primary);
    border-bottom: 2px solid var(--background-message-hover);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-right {
    width: auto;
    background-color: blue;
}

.header-icon p {
    color: var(--header-secondary);
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5em;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title p {
    color: white;
    vertical-align: middle;
}

#chanel {
    grid-area: chanel;
    background-color: var(--background-secondary);
    overflow-y: scroll;
}

#chanel::-webkit-scrollbar {
    width: 3px;
}

#chanel::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

#chanel::-webkit-scrollbar-thumb {
    background: var(--background-tertiary);
    border-radius: 4px;
}

#chanel::-webkit-scrollbar-thumb:hover {
    background: var(--background-tertiary);
}

.chanel-item {
    color: var(--text-muted);
    font-family: Whitney;
    font-size: 13px;
    margin-top: 15px;
    margin-right: 3px;
    align-items: center;
}

.chanel-item>div {
    padding: 5px;
    margin-left: 10px;
    margin: 2px;
    margin-bottom: 2px;
}

.chanel-item>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chanel-item-active {
    background-color: var(--background-modifier-selected);
    border-radius: 4px;
    color: white
}

.chanel-item>div:hover {
    background-color: var(--background-modifier-hover);
    border-radius: 4px;
}

.chanel-item>div:first-child {
    text-transform: uppercase;
}

.hash {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hash svg {
    width: 20px;
    height: 20px;
}

#chat {
    grid-area: chat;
    background-color: var(--background-primary);
}

#contact {
    grid-area: contact;
    background-color: var(--background-secondary);
}

#user {
    grid-area: user;
    background-color: var(--background-secondary-alt);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info {
    flex-grow: 2;
}

.user-icons {
    display: flex;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.user-avatar>img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.user-avatar::after {
    background-color: var(--user-online);
    width: 10px;
    height: 10px;
    content: '';
    position: absolute;
    bottom: 3px;
    right: 3px;
    border-radius: 50%;
    border: 3px solid var(--background-secondary-alt);
}

.user-name {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.user-id {
    font-size: 12px;
    color: var(--header-secondary);
}

.icon {
    margin-right: 10px;
    cursor: pointer;
}

.icon>svg {
    width: 20px;
    height: 20px;
    color: var(--interactive-normal);
}

.start {
    margin-top: 8px;
}

.server-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    background-color: var(--background-secondary);
    border-radius: 50%;
    cursor: pointer;
    transition: all .2s;
    flex-shrink: 0;
    position: relative;
}

.server-mention {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 3px;
    left: -22px;
    width: 14px;
    height: 7px;
    background-color: white;
}

.server-badge {
    position: absolute;
    background-color: red;
    height: 10px;
    min-width: 10px;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
    bottom: -5px;
    right: -5px;
    font-size: 11px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    border: 4px solid var(--background-tertiary)
}

.server-badge span {
    width: 100%;
    text-align: center;
}

.server-selected {
    position: absolute;
    background-color: blue;
}

.server-icon:hover {
    border-radius: 16px;
    background-color: var(--focus-secondary);
}

.divider {
    width: 32px;
    height: 2px;
    margin-bottom: 8px;
    border-radius: 1px;
    background-color: var(--background-secondary);
    flex-shrink: 0;
}

.selected {
    border-radius: 15px;
    background-color: var(--text-link);
}

.server-selected {
    position: absolute;
    width: 10px;
    height: 40px;
    border-radius: 5px;
    top: 50%;
    left: -18px;
    transform: translate(0, -50%);
    background-color: white;
}

.icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}